.buttonBoard{
    position: fixed;
    top: 20px;
    left: 20px;
}

button{
    display: block;
}

.square{
    height: 30px;
    width: 30px;
    border: 2px solid black;
    background-color: aqua;
    display: inline-block;
}

.end{
    margin-right: 10px;
}

.row{
    text-align: center;
}

.cubeSide{
    margin: 10px;
}

#camera{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 320px;
    height: 240px;
    border: 1px solid black;
}

#results{
  position: fixed;
  top: 280px;
  right: 20px;
}

#snapButton{
  position: fixed;
  top: 20px;
  right: 360px;
}

#canvas{
  position: fixed;
  top: 280px;
  right: 20px;
}

@media only screen and (max-width: 600px){
    .square{
        height: 20px;
        width: 20px;
    }
    .buttonBoard{
        position: fixed;
        top: 200px;
        left: 20px;
    }
}

@media only screen and (max-width: 350px){
    .square{
        height: 15px;
        width: 15px;
    }
}
